:root {
    --brun-principal: #8B4513;
    --brun-secondaire: #A0522D;
    --brun-hover: #5C3317;
    --blanc: #ffffff;
    --beige-clair: #f5f5f5;
    --ombre: rgba(0, 0, 0, 0.3);
}

/* Réutilisables partout */
.btn-primary {
    background-color: var(--brun-principal);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--brun-hover);
}

.text-brun {
    color: var(--brun-principal);
}
.bg-brun {
    background-color: var(--brun-principal);
}

.shadow {
    box-shadow: 0 8px 16px var(--ombre);
}
